@page

@model OSR4Rights.Web.Pages.ResultsModel
@{
    var zipFile = $"results{Model.JobId}.zip";
}
@* bootstrap for tus progress bar*@
@section Styles {
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}

<div class="container-tool">

    <div class="text-center">
        <h1>Results</h1>
        <p>Queue Lengths - FaceSearch: @Model.FaceSearchQueueLength, HateSpeech: @Model.HateSpeechQueueLength, SpeechParts: @Model.SpeechPartsQueueLength</p>
        <p>All dates are in DD/MM/YYYY and times <a href="https://www.google.com/search?q=what+is+current+time+vs+utc">are displayed in UTC</a></p>
    </div>

    <br />

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">FileName</th>
                <th scope="col">JobType</th>
                <th scope="col">Uploaded</th>
                <th scope="col">JobStatus</th>
                <th scope="col">JobStarted</th>
                <th scope="col">JobEnded</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var login in Model.Jobs.OrderByDescending(x => x.JobId))
            {
                <tr>
                    <td><a href="/result/@login.JobId">Details</a></td>
                    <td>@login.OrigFileName</td>
                    <td>@login.JobType</td>
                    <td>@login.DateTimeUtcUploaded.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>@login.JobStatusString</td>
                    <td>@login.DateTimeUtcJobStartedOnVm?.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>@login.DateTimeUtcJobEndedOnVm?.ToString("dd/MM/yyyy HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
</div>



@*
    <div class="text-center">
    <h1>Results</h1>
    <p>Queue Lengths - FaceSearch: @Model.FaceSearchQueueLength, HateSpeech: @Model.HateSpeechQueueLength, SpeechParts: @Model.SpeechPartsQueueLength</p>
    <p>All dates are in DD/MM/YYYY and times <a href="https://www.google.com/search?q=what+is+current+time+vs+utc">are displayed in UTC</a></p>
    </div>

    <br />

    <table class="table table-hover">
    <thead>
    <tr>
    <th scope="col"></th>
    <th scope="col">FileName</th>
    <th scope="col">JobType</th>
    <th scope="col">Uploaded</th>
    <th scope="col">JobStatus</th>
    <th scope="col">JobStarted</th>
    <th scope="col">JobEnded</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var login in Model.Jobs.OrderByDescending(x => x.JobId))
    {
    <tr>
    <td><a href="/result/@login.JobId">Details</a></td>
    <td>@login.OrigFileName</td>
    <td>@login.JobType</td>
    <td>@login.DateTimeUtcUploaded.ToString("dd/MM/yyyy HH:mm:ss")</td>
    <td>@login.JobStatusString</td>
    <td>@login.DateTimeUtcJobStartedOnVm?.ToString("dd/MM/yyyy HH:mm:ss")</td>
    <td>@login.DateTimeUtcJobEndedOnVm?.ToString("dd/MM/yyyy HH:mm:ss")</td>
    </tr>
    }
    </tbody>
    </table>*@
